{% extends "portfolio/base.html" %}
{% block content %}
<h2>Projetos</h2>

{% if user.is_authenticated and user.groups.all|join:", " == "gestor-portfolio" %}
    <a href="{% url 'projeto_criar' %}">+ Novo Projeto</a>
{% endif %}

<section>
    {% for projeto in projetos %}
    <article>
        <header>
            <h3>{{ projeto.titulo }}</h3>
            <p>{{ projeto.ano }}</p>
        </header>
        <section>
            <p>{{ projeto.descricao }}</p>
            <h4>Tecnologias</h4>
            <ul>
                {% for t in projeto.tecnologias.all %}
                    <li>{{ t.nome }}</li>
                {% empty %}
                    <li>Nenhuma</li>
                {% endfor %}
            </ul>
        </section>
        {% if user.is_authenticated and user.groups.all|join:", " == "gestor-portfolio" %}
        <footer>
            <a href="{% url 'projeto_editar' projeto.id %}">Editar</a>
            <a href="{% url 'projeto_apagar' projeto.id %}">Apagar</a>
        </footer>
        {% endif %}
    </article>
    {% empty %}
        <p>Sem projetos ainda.</p>
    {% endfor %}
</section>
{% endblock %}