{% extends "portfolio/base.html" %}
{% block content %}
<h2>Tecnologias</h2>

{% if user.is_authenticated and user.groups.all|join:", " == "gestor-portfolio" %}
    <a href="{% url 'tecnologia_criar' %}">+ Nova Tecnologia</a>
{% endif %}

<section>
    {% for tecnologia in tecnologias %}
    <article>
        <header>
            <h3>{{ tecnologia.nome }}</h3>
            <p>{{ tecnologia.get_tipo_display }} | {{ tecnologia.get_nivel_interesse_display }}</p>
        </header>
        <section>
            <p>{{ tecnologia.descricao }}</p>
        </section>
        {% if user.is_authenticated and user.groups.all|join:", " == "gestor-portfolio" %}
        <footer>
            <a href="{% url 'tecnologia_editar' tecnologia.id %}">Editar</a>
            <a href="{% url 'tecnologia_apagar' tecnologia.id %}">Apagar</a>
        </footer>
        {% endif %}
    </article>
    {% empty %}
        <p>Sem tecnologias ainda.</p>
    {% endfor %}
</section>
{% endblock %}